# Server
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=mongodb://admin:password@mongo:27017/taskforge?authSource=admin

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_REFRESH_EXPIRES_IN=7d

# Logging
LOG_LEVEL=debug
